<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/todoList.css" />
    <link rel="stylesheet" href="css/Mobile_view.css" />
    <!-- <link rel="stylesheet" href="css/default.css" /> -->
</head>

<body>
    <main class="main_body" id="vue_app">
        <div class="top">
            <div class="top_content">
                <div class="left">
                    <a href="#">
                        <i class="fas fas fa-align-left"></i>
                    </a>
                </div>
                <div class="mid">
                    <form action="#">
                        <input type="search" name="" id="" placeholder="search" />
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="right">
                    <img width="30px" src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg" alt="" />
                </div>
            </div>
        </div>
        <!-- app content start -->
        <div class="content">
            <div class="app_content_body">
                <div class="app_content_body">
                    <div class="card">
                        <div class="card-header">
                            <h5>Todo List {{todo_list_array.length}}</h5>
                        </div>
                        <div class="card-body d-flex">

                            <input type="text" @keyup="show_todo_title_value" v-model="todo_title" class="form-control w-75" placeholder="Insert any value" />
                            <button type="button" @click="insert_new_value" class="btn btn-info w-24">Add</button>
                        </div>
                        <ul class="todo-list">
                            <li v-for="(item,i) in todo_list_array">
                                <div class="show-output d-flex justify-content-between">
                                    <label :for="'one'+i">
                                        <input :id="'one'+i" type="checkbox">
                                       
                                            {{item.title}}
                                        
                                    </label>

                                    <button @click="remove_data(i)">
                                       <i class="fa fa-trash"></i>
                                   </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- app content End -->
        <div class="bottom">
            <div class="bottom_content">
                <ul class="nav-links">
                    <li>
                        <a href="#" class="nav-item">
                            <i class="fas fa-dollar-sign"></i> <br />
                            <span>earning</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-item">
                            <i class="fas fa-baseball-ball"></i> <br />
                            <span>games</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-item">
                            <i class="fas fa-home"></i> <br />
                            <span>home</span>
                        </a>
                    </li>
                    <li>
                        <a href="# " class="nav-item">
                            <i class="fas fa-car"></i> <br />
                            <span>cars</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-item">
                            <i class="fas fa-sign-out-alt"></i> <br />
                            <span>sign out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="js/todo_vue.js"></script>
</body>

</html>